body{
  position: relative;
  display: center; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left: 8px;

}

.nav-bar {
  position: relative;
  top: 10px;
  
}

.nav-bar2{
  position: relative;
  left: 79%;
  bottom: 5px;
}

a:visited { text-decoration: none; color:grey; }
a:hover { text-decoration: none; color:gray; }
a:focus { text-decoration: none; color:gray; }
a:hover, a:active { text-decoration: none; color:gray}

.app-icons {
  position: relative;
  left: 89%;
  bottom: 30px;
}

.sign-in-button {
  position: relative;
  left: 94%;
  bottom: 60px;
}

.google-logo {
  position: relative;
  left: 39%;
  margin-top: 5%;
}

.mic {
  position: relative;
  left: 73%;
  z-index: 2;
  bottom: 4px;
}

#search {
  position: relative;
  border-radius: 20px;
  height: 35px;
  width: 250px;
  z-index: 1;
  outline: none;
  padding-right: 400px;
  left: 305px;
  top: 30px;
}

#search-input-wrapper {
  position: relative;
  display: inline-block;
}

#search-input-wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 315px;
  top: 60px;
  background: url("https://i.ibb.co/D1dvJTV/icons8-search.gif") no-repeat center;
  background-size: 23px auto;
  height: 30px;
  width: 30px;
}

.google-button {
  position: relative;
  left: 39%;
  top: 45px;
}

.lucky-button {
  position: relative;
  left: 50%;
  top: 24px;
}

.footer-1 {
  position: relative;
  top: 8px;
}

.footer-2 {
  position: relative;
  left: 85%;
  bottom: 10px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d3d3d3;
  
}